<div class="dform-container-wrap"
     [ngClass]="{'dform-sidenav-collapsed': options.sidenavCollapsed && options.navPos !=='top',
                 'dform-navbar-side': options.navPos==='side',
                 'dform-navbar-top': options.navPos==='top',
                 'dform-header-above': options.headerPos==='above',
                 'dform-header-fixed': options.headerPos==='fixed',
                 'dform-header-white': options.theme==='light'}"
     [dir]="options.dir">
  <app-header #header
              class="dform-header"
              *ngIf="!isPortal && options.showHeader && options.headerPos ==='above'"
              (toggleSidenav)="sidenav.toggle()"
              (toggleCollapsed)="toggleCollapsed()"
              (toggleMenu)="toggleMenuChange($event)">
  </app-header>

  <mat-sidenav-container class="dform-container"
                         autosize
                         autoFocus>
    <mat-sidenav #sidenav
                 class="dform-sidenav smart-sidenav"
                 [mode]="'side'"
                 [opened]="options.navPos==='side' && options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <app-sidebar>
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content #content
                         class="dform-content-wrap"
                         id="dform-cutomer"
                         >
      <div class="cms-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<dform-activity-indicator-singleton></dform-activity-indicator-singleton>
