<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">Chi tiết Resource</div>
    <button [tabIndex]="'-1'" mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <table class="dform-table table-info w-full" mat-table [dataSource]="dataTable">
            <!-- Key Column -->
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef class="text-center">Thuộc tính</th>
              <td mat-cell *matCellDef="let element" class="text-center df-min-3">{{element.key}}</td>
            </ng-container>
          
            <!-- Value Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef class="text-center">Giá trị</th>
              <td mat-cell *matCellDef="let element" class="text-center df-min-3">{{element.value}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Đóng</span>
    </button>
</div>