@import '../style/variables';

@mixin dform-sidebar-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .dform-sidebar-header {
    color: mat-color($foreground, text);
    background: mat-color($background, dialog);
    border-bottom: 1px solid mat-color($foreground, divider);
  }
}
