<div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlex="100">
        <img src="assets/images/images-status/empty-state.png" srcset="assets/images/images-status/empty-state@2x.png 2x, assets/images/images-status/empty-state@3x.png 3x" alt="{{'lbl.no-data' | translate }}"
            [matTooltip]="'lbl.no-data' | translate" class="img-empty">
    </div>
    <div fxFlex="100" class="pdb-2 no-data">
        <label class="fs-16">{{'lbl.no-data' | translate}}</label>
    </div>
</div>