<mat-toolbar class="dform-toolbar">
    <img src="assets/images/logo_mbbank.png" alt="" class="logo-mbbank">
    <span fxFlex></span>
    <button mat-button class="dform-avatar-button mrl-2" href="javascript:void(0)" [matMenuTriggerFor]="menu">
        <span class="dform-username" fxHide.lt-sm>{{ userName }}</span>
        <mat-icon class="mbb-icon ic-angle_down text-custom-gray fs-16"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon class="mbb-icon ic-user"></mat-icon>
            <span>{{ userName }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon class="mbb-icon ic-logout"></mat-icon>
            <span>Đăng xuất</span>
        </button>
    </mat-menu>
</mat-toolbar>
<div class="home-page" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="70">
        <div fxLayout="row" class="pdb-8">
            <div fxFlex="100" fxLayoutAlign="center center">
                <!-- <span class="title fc-primary">{{'lbl.app.title' | translate}}</span> -->
                <div class="dashboard-title" fxLayout="row" fxLayoutAlign="center center">
                    <span>Danh sách ứng dụng WEBPORTAL
                        <!-- <img src="assets/images/head5_line.png" alt="" class="head-line">
                        <img src="assets/images/head5_pen.png" alt="" class="head-pen"> -->
                    </span>
                </div>
            </div>

        </div>
        <div class="panel-heading justify-content-between bdt">
            <div fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="start center" class="mru-4">
                    <div class="div-search" fxLayout="row">
                        <input #inputSearch class="mat-input-element form-control" matInput [ngModel]="searchText"
                            (ngModelChange)="valuechange($event)" placeholder="Tìm kiếm hệ thống">
                        <mat-icon matPrefix>search</mat-icon>
                    </div>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="mru-4">
                    <button type="submit" class="btn btn-primary mrs-4 pds-4">
                        <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
                    </button>
                </div> -->
            </div>
        </div>
        <div class="panel-body">
            <div class="table-over">
                <table class="dform-table table-info w-full" element.htmlForm mat-table [dataSource]="dataSource"
                    matSort [@.disabled]="true">
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef> {{'lbl.stt' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> {{'lbl.app.name' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>{{'lbl.app.action' | translate}}</th>
                        <td mat-cell *matCellDef="let element;" class="df-min-15">
                            <button mat-icon-button (click)="setClientApp(element)">
                                <mat-icon class="mbb-icon ic-service fc-primary mrr-0" matTooltip="Phân quyền ứng dụng">
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setClientApp(row)"></tr>
                </table>
                <app-no-data *ngIf="!dataSource || (dataSource && dataSource.data && dataSource.data.length === 0)">
                </app-no-data>
            </div>
            <div class="panel-footer">
                <dform-pagination-plus class="fullWidth" #pagePage [pageIndex]="pageIndex" (page)="pageEvent = $event"
                    [totalItem]="totalItem" [pageSize]="pageSize" [showTextPage]="true" [showPageSizeList]="true"
                    [pageSizeList]="[5, 10, 15, 20]">
                </dform-pagination-plus>
            </div>
        </div>
        <div fxLayoutAlign="end center" class="mrt-8">
            <button type="button" (click)="createApp()" class="btn btn-primary btn-md">
                <span>Thêm mới ứng dụng phân quyền</span>
            </button>
        </div>
        <img src="assets/images/dashboard.png" class="dashboard-img">
    </div>
</div>