<div class="panel mrt-4">
    <div class="panel-heading justify-content-between bdt">
        <div fxLayout="row">
            <!-- <div fxLayout="row" fxLayoutAlign="start center" class="mru-4" *ngIf="!panelOpenState">
                <div class="div-search" fxLayout="row">
                    <input class="mat-input-element form-control" #inputElement matInput
                        placeholder="Tìm kiếm thông tin">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="mru-4" *ngIf="!panelOpenState">
                <button type="submit" class="btn btn-primary mrs-4 pds-4">
                    <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
                </button>
                <button type="button" class="btn btn-gray-600 pds-4" (click)="panelOpenState = !panelOpenState">
                    <mat-icon class="mbb-icon ic-filter mrl-2"></mat-icon>
                    <span>Tìm kiếm nâng cao</span>
                </button>
            </div> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="mru-4">
            <div fxLayout="row" fxLayoutAlign="start center" class="mru-4" *ngIf="!panelOpenState">
                <div class="div-search" fxLayout="row">
                    <input class="mat-input-element form-control" #inputElement matInput
                        placeholder="Tìm kiếm thông tin">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="mru-4" *ngIf="!panelOpenState">
                <button type="submit" class="btn btn-primary mrs-4 pds-4">
                    <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
                </button>
                <button type="button" class="btn btn-gray-600 pds-4" (click)="panelOpenState = !panelOpenState">
                    <mat-icon class="mbb-icon ic-filter mrl-2"></mat-icon>
                    <span>Tìm kiếm nâng cao</span>
                </button>
            </div>
        </div>
    </div>
    <mat-expansion-panel class="mat-elevation-z0" [expanded]="panelOpenState">
        <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="search()">
            <sm-text-control [item]="$username" fxFlex="25" [form]="form"></sm-text-control>
            <sm-text-control [item]="$username" fxFlex="25" [form]="form"></sm-text-control>
            <sm-text-control [item]="$username" fxFlex="25" [form]="form"></sm-text-control>
            <sm-text-control [item]="$username" fxFlex="25" [form]="form"></sm-text-control>
            <sm-text-control [item]="$username" fxFlex="25" [form]="form"></sm-text-control>
            <div fxFlex="100" fxLayoutAlign="end end">
                <button type="submit" class="btn btn-primary mrr-2 pds-8">
                    <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
                    <span>Tìm kiếm</span>
                </button>
                <button type="submit" class="btn btn-gray-600 mrr-2 pds-8" (click)="panelOpenState = !panelOpenState">
                    <span>Ẩn tìm kiếm nâng cao</span>
                </button>
            </div>
        </form>
    </mat-expansion-panel>
    <div class="table-over">
        <table class="dform-table table-info w-full" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef class="center-align">
                    <mat-checkbox *ngIf="checkAll" color="warn" class="mat-checkbox-all"
                        (change)="_onCheckBoxAll($event)" [checked]="isSelectedAll()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element;" class="center-align">
                    <mat-checkbox color="primary" (change)="_onCheckBox($event, element.stt)"
                        [checked]="element.checked">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>STT </th>
                <td mat-cell *matCellDef="let element;">{{element.stt}}</td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>User Name</th>
                <td mat-cell *matCellDef="let element;">{{element.code}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>FullName</th>
                <td mat-cell *matCellDef="let element;">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="desciption">
                <th mat-header-cell *matHeaderCellDef>Mô tả</th>
                <td mat-cell *matCellDef="let element;">{{element.desciption}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-data *ngIf="!dataSource || (dataSource && dataSource.data && dataSource.data.length === 0)">
        </app-no-data>
    </div>
    <div class="panel-footer">
        <dform-pagination-plus class="fullWidth" #pagePage [pageIndex]="pageIndex" (page)="pageEvent = $event"
            [showTextPage]="true" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
            [pageSizeList]="[5, 10, 15, 20]">
        </dform-pagination-plus>
    </div>