<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="ClientId" value="ecm-smart-scan-desktop"/>
    <add key="ClientSecret" value="cb0031a6-6cc8-4c97-8cb4-a01476a94f7f"/>
    <add key="GrantType" value="password"/>
    <add key="TokenName" value="ECM_TOKEN"/>
    <add key="TokenNameAuthApi" value="Authorization"/>
    <add key="OcrServiceUrl" value="http://10.63.130.62:8888"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ThreadOCRDefault" value="4"/>
    <add key="ThreadPushFileDefault" value="5"/>
  </appSettings>
</configuration>