.full-height-frame {
  height: 100vh;
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  background: #EDEFF7;
  padding: 10px;

  .mat-mdc-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);

    height: 50px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;

    /* White/1 */
    background: #FFFFFF;
    /* Box-1 */
    box-shadow: 0px 2px 12px rgba(12, 26, 75, 0.1), 0px 0px 1px rgba(12, 26, 75, 0.03), 0px 4px 20px -2px rgba(50, 50, 71, 0.04);
    border-radius: 4px;

    .mdc-tab {
      /* tab */
      box-sizing: border-box;
      height: 40px;
      color: #4F5B89;

      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      /* Neutral/4 */
      border: 0px solid #E6E8EE;
      border-radius: 4px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 1;

      .mdc-tab__text-label {
        /* Title/4 Semi */

        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: right;

        /* Neutral/2 */

        color: #4F5B89;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }

    .mdc-tab--active {
      background: #4A6EF6;
      color: #FFFFFF;

      .mdc-tab__text-label {
        /* Title/4 Semi */
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: right;

        /* White/1 */

        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

  .mat-mdc-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
    height: 100%;

    .mat-mdc-tab-body {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      outline: 0;
      flex-basis: auto;

      .mat-mdc-tab-body-content {
        height: 100%;
        overflow: hidden;
      }
    }

    .mat-mdc-tab-body.mat-mdc-tab-body-active {
      position: relative;
      top: 5px;
      left: 10px;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 1;
      flex-grow: 0;
      border-radius: 4px;
      background: #FFFFFF;
      width: calc(100% - 20px);
    }
  }

}
